
.perfil-page{
  background-color: #000;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #000; 
    color: #fff;
  }
  
  .loading-logo {
    width: 20%;
    margin-bottom: 20px;
  }
  
  .loading-text {
    font-size: 1.5rem;
    color: #fff;
  }
  
  .error-message {
    text-align: center;
    color: #F26A50; 
    font-size: 1.2rem;
    margin-top: 50px;
    background-color: #3A6D7F; 
    padding: 15px;
    border-radius: 10px;
  }
  

  .perfil-container {
    background-color: #1C1C1C; 
    color: #FFFFFF; 
    max-width: 800px;
    width: 80%;
    margin: 30px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  }
  
  .perfil-title {
    text-align: center;
    font-size: 2rem;
    color: #b5a356;
    margin-bottom: 20px;
  }
  
  .perfil-info {
    margin-bottom: 20px;
  }
  
  .perfil-info p {
    font-size: 1.1rem;
    margin: 5px 0;
    color: #C7DCE3; /* Azul claro para os dados */
  }
  
  /* Seção de Nível de Fã */
  .perfil-nivel {
    text-align: center;
    padding: 15px;
    background-color: #5A8CAA; /* Azul médio para o fundo da seção de nível */
    border-radius: 10px;
  }
  
  .nivel-title {
    font-size: 1.5rem;
    color: #FFFFFF;
    margin-bottom: 10px;
  }
  
  .fan-level {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  /* Níveis de fã */
  .fan-level {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    font-weight: bold;
    color: #000;
  }
  
  .perfil-novato {
    background-color: #F26A50;
  }
  
  .perfil-casual {
    background-color: #4caf50;
    color: #fff;
  }
  
  .perfil-super {
    background-color: #FFD700;
    color: #000;
  }
  
  

  .btn-redes {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #b5a356;
    color: #000;
    border-radius: 6px;
    text-decoration: none;
  }
  
  .btn-redes:hover {
    background-color: #8f7f3e;
  }
  
  